
#about-page{
  position: absolute;
  text-align: center;
  font-size: 2rem;
  border-top: 1px solid #ccc;
  padding: 2rem;
  padding-top: 20px;
  /*top right bottom left*/
  margin: 60% 20rem 0 20rem;
}

#about-page h1{
  font-size: 3rem;
}

.visible{
  color: white;
  transition: 1.5s ease;
}

.invisible{
  opacity: 0;
}
